* {
  font-family: 'Indie Flower', cursive;
  box-sizing: border-box;

}
.title {
  color:#4CAF50;
}
.Calculator {
  padding: 25px;
  width: 220px;
  background-color: #0097A7;
}
.keyboard {
  display: flex;
  flex-wrap: wrap;
}
#screen {
  width: 100%;
  margin-bottom: 8px;
  padding: 3px;
  font-size: 16px;
  text-align: right;
}
.button {
  flex-basis: 25%;
  background-color:#00ACC1;
  padding: 4px;

}
.button-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4DD0E1;
  width: 100%;
  height: 30px;
  line-height: 0;
  cursor: pointer;
}
#button-AC {
  flex-basis: 75%;

}
#button-zero {
  flex-basis: 50%;
}